body{
	background-color: black;
	background-image: url('https://d3nepnh0ml2m2t.cloudfront.net/uploads/RJWliSbWx949jgCV87UW/template_images/WoQiUbSTyXl82KCKeBrkWnLy7XtjvW8BAOBPjWWK.jpeg');	
	background-repeat: no-repeat;
	background-size: 116% 203vw;
	font-family: 'Poppins', sans-serif;
	color: white;
}

.navbar{
	padding-top: 30px;
	width: 100%;
}

.nav-toggler-img{
	width: 2.2em;
	height: 2.2em;
}

.nav-info-img{
	width: 3.8em;
	height: 3.8em;
}

.navbar-dark .navbar-toggler {
	color: rgba(255,255,255,.5);
	border-color: transparent;
}

.header-container{
	padding-top: 40px;
	padding-left: 45px;
}

.header{
	font-weight: 700;
	font-size: 10vw;
	margin-bottom: 0.1rem;
}

.header-txt{
	font-size: 3.5vw;
}

@media (max-width: 540px) {

	.nav-toggler-img{
		width: 1.2em;
		height: 1.2em;
	}

	.nav-info-img{
		width: 1.8em;
		height: 1.8em;
	}

}